<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <title>BURGER BUFFET! - Lloyd Marcelino</title>
</head>
<style>
    body {
        background-image: url('../assets/img/food.PNG');
        background-repeat: no-repeat;

        padding: 20px;
    }

    h1 {
        font-weight: 900;
        font-size: 90px;
        color: orange;
        padding: 20px;
        margin-bottom: 20px;
    }

    h4 {
        color: orange;
        font-weight: 400;
    }

    #buttoncolors {
        background-color: orange;
        border-radius: 8px;
        padding: 15px;
    }

    .blinking {
        animation: blinkingText 1.2s infinite;
    }

    @keyframes blinkingText {
        0% {
            color: #FF8C00;
        }

        49% {
            color: yellow;
        }

        60% {
            color: transparent;
        }

        99% {
            color: transparent;
        }

        100% {
            color: orange;
        }
    }
</style>

<body bgcolor="#FFFF00">
    <div class="row">
        <div class="col-md-4">
            <img src='/assets/img/burger.PNG' alt='Burger'>
        </div>
        <div class="col-md-4">
            <img src='/assets/img/burger2.PNG' alt='Burger'>
        </div>
        <div class="col-md-4">
            <img src='/assets/img/burger3.PNG' alt='Burger'>
        </div>

    </div>
    {{{ body }}}

    <script src='https://code.jquery.com/jquery.js'></script>
    <script src='/assets/js/function.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>